<EditForm EditContext="editContext" OnValidSubmit="@ChangePasswordAsync">
    <div class="input-group forgot-password-container">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="forgot-password">
            <InputText class="input-primary" type="password" placeholder="Nieuw wachtwoord" @bind-Value="changePasswordForm.Password" />
        </div>
        <div class="forgot-password-confirm">
            <InputText class="input-primary" type="password" placeholder="Nieuw wachtwoord bevestigen" @bind-Value="changePasswordForm.ConfirmPassword" />
        </div>
    </div>

    <div class="popup-footer">
        <button type="submit" class="btn-primary">Aanpassen</button>
    </div>
</EditForm>
