<div container>
    <div class="row">
        <div class="col-6">
            <h3>
                Algemene voorwaarden B2B van Dutch Dolphin Swimming Club (Nederlands)
            </h3>

            <p style="text-align: left;">
                <b>Artikel 1. Definities</b>
            </p>
            <p style="text-align: left;">
                In deze Voorwaarden hebben de volgende begrippen die met een hoofdletter
                beginnen de volgende betekenis, tenzij uitdrukkelijk anders is aangegeven of uit de
                context anders blijkt (woorden in het enkelvoud geven ook het meervoud aan en
                andersom):
            </p>

            <table>
                <tbody>
                    <tr>
                        <td>
                            <b>
                                DD:
                            </b>
                        </td>
                        <td>
                            de gebruiker van deze Voorwaarden, zijnde IDEA Valorization
                            BV (Dutch Dolphin Swimming Club), ingeschreven in het
                            handelsregister van de Kamers van Koophandel onder nummer:
                            63346869;

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Dienst:
                            </b>
                        </td>
                        <td>
                            een door DD aan de Klant geleverde dienst;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Gebruiker:
                            </b>
                        </td>
                        <td>
                            een natuurlijke persoon die gebruik maakt van een Dienst,
                            Product, Website of platform van DD;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Klant:
                            </b>
                        </td>
                        <td>
                            een wederpartij, klant en/of leverancier van DD en de van diens
                            concern deel uitmakende rechtspersonen;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Levering:
                            </b>
                        </td>
                        <td>
                            levering als bedoeld in artikel 3:84 BW en 3:90 BW, met dien
                            verstande dat de vereiste bezitsverschaffing wat betreft
                            Producten plaatsvindt zodra de Producten het terrein van DD
                            verlaten dan wel EXW Lierop, Nederland zoals bedoeld in de
                            Incoterms 2010;

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Offerte:
                            </b>
                        </td>
                        <td>
                            een aanbod van DD, waaronder, doch niet uitsluitend
                            prijsopgaven, prijslijsten en andere verklaringen, al dan niet van
                            vertegenwoordigers, handelsagenten en/of werknemers van DD
                            evenals relevante informatie vervat in mailings van DD of
                            vermeld op de Website;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Overeenkomst:
                            </b>
                        </td>
                        <td>
                            de afspraken tussen DD en de Klant;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Product:
                            </b>
                        </td>
                        <td>
                            een door DD aan de Klant geleverd of nog te leveren goed,
                            waaronder in ieder geval ook, doch niet uitsluitend de
                            aangebrachte etiketten en verpakkingsmaterialen;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Schriftelijk:
                            </b>
                        </td>
                        <td>
                            per brief of op elektronische wijze (zoals per e-mail), per telefax
                            of via enig ander telecommunicatiemiddel dat in staat is
                            geschreven tekst leesbaar en reproduceerbaar over te brengen;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Vertrouwelijke
                                Informatie:
                            </b>
                        </td>
                        <td>
                            de Offerte, de Overeenkomst, de Producten, de Diensten, alle
                            correspondentie, informatie, kennis en/of documentatie die
                            betrekking heeft op DD, aangeleverd is door DD en/of anderszins
                            in het bezit is c.q. ter kennis is gekomen van de Klant in het
                            kader van de voorbereiding, totstandkoming en/of uitvoering van
                            de Overeenkomst;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Voorwaarden:
                            </b>
                        </td>
                        <td>
                            deze algemene voorwaarden (B2B);
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Website:
                            </b>
                        </td>
                        <td>
                            <a href="www.dutchdolphinswimmingclub.com">www.dutchdolphinswimmingclub.com</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <p style="text-align: left;">
                <b>Artikel 2. Algemeen </b>
            </p>
            <p style="text-align: left;">
                1. Deze Voorwaarden zijn van toepassing op alle huidige en toekomstige
                aanbiedingen en offertes van DD en op alle door DD gesloten Overeenkomsten of
                verrichte (be)handelingen. Indien en voor zover de Klant of een Gebruiker
                kwalificeert als Consument zijn niet deze Voorwaarden, maar de algemene
                voorwaarden B2C van DD van toepassing.
            </p>
            <p style="text-align: left;">
                2. Deze Voorwaarden zijn ook van toepassing op eventuele aanvullende opdrachten
                en vervolgopdrachten die zijn verstrekt aan DD.
            </p>
            <p style="text-align: left;">
                3. De toepasselijkheid van andere algemene voorwaarden, al dan niet gehanteerd
                door de Klant, waaronder ook inkoopvoorwaarden, wordt uitdrukkelijk van de hand
                gewezen. Indien en voor zover andere algemene voorwaarden (mede) toepasselijk
                zijn, dan prevaleren bij tegenstrijdigheden deze Voorwaarden.
            </p>
            <p style="text-align: left;">
                4. De werking van artikel 7:407 lid 2 BW is uitgesloten.
            </p>
            <p style="text-align: left;">
                5. Indien een deel van deze Voorwaarden nietig of vernietigbaar is, dan laat dit de
                geldigheid van het overige deel van deze Voorwaarden onverlet. In plaats van het
                vernietigde deel geldt alsdan overeenkomstig het bepaalde in artikel 3:42 BW als
                overeengekomen, hetgeen partijen overeengekomen zouden zijn indien zij de
                nietigheid of vernietigbaarheid gekend zouden hebben. Hetzelfde geldt indien en
                voor zover zou blijken dat bepaalde niet-Nederlandse wet- en/of regelgeving van
                toepassing is op c.q. van invloed is op de uitwerking van deze Voorwaarden en dit
                nadelig is voor DD.
            </p>
            <p style="text-align: left;">
                6. Eventuele afwijkingen van deze Voorwaarden, door DD te eniger tijd toegepast of
                getolereerd ten voordele van de Klant, geven deze laatste nimmer het recht zich
                later daarop te beroepen, of de toepassing van een dergelijke afwijking op te eisen.
            </p>
            <p style="text-align: left;">
                7. In geval van onverenigbaarheden, tegenstrijdigheden of verschillen tussen
                taalversies van deze Voorwaarden, prevaleert de oorspronkelijke Nederlandstalige
                versie. In geval van onverenigbaarheden, tegenstrijdigheden of verschillen tussen
                deze Voorwaarden en een Offerte en/of Overeenkomst, prevaleert de Offerte of
                Overeenkomst.
            </p>
            <p style="text-align: left;">
                8. De administratie en gespecificeerde opgaves van DD zijn, behoudens tegenbewijs,
                bindend voor de Klant. Voor de bepaling van de omvang van de
                betalingsverplichtingen van de Klant zijn de administratieve gegevens van DD
                beslissend, behoudens door de Klant te leveren tegenbewijs. De op de factuur
                vermelde aantallen, maten en gewichten zijn juist, behoudens door de Klant te
                leveren tegenbewijs.
            </p>
            <p style="text-align: left;">
                9. De vorderingen van de Klant op DD zijn niet overdraagbaar, verpandbaar of
                anderszins vatbaar voor bezwaring of overdracht, onder welke titel dan ook. Deze
                beperkingen gelden zowel goederenrechtelijk als verbintenisrechtelijk.
            </p>
            <p style="text-align: left;">
                10.Voor zover de Overeenkomst betrekking heeft op de levering van Producten
                bestaande uit (standaard)software, is ter zake de werking van titel 1 van boek 7
                BW uitgesloten
            </p>
            <p style="text-align: left;">
                11.DD is bevoegd om haar rechten uit hoofde van een Offerte of Overeenkomst dan
                wel haar rechtsverhouding op grond daarvan over te dragen, te cederen of te
                bezwaren. De Klant wordt geacht daar reeds nu voor alsdan toestemming voor te
                hebben gegeven en verplicht zich ertoe om DD steeds te voorzien van alle
                daarvoor vereiste medewerking, assistentie, informatie, documenten en gegevens.
            </p>
            <p style="text-align: left;">

            </p>
        </div>

        <div class="col-6">
            <h3>
                Terms and conditions B2B of Dutch Dolphin Swimming Club (English)
            </h3>

            <p style="text-align: left;">
                <b>
                    Article 1. Definitions
                </b>
            </p>
            <p style ="text-align: left;">
                In these Terms and Conditions, the following terms that begin with a capital letter
                are defined as follows, unless expressly stated otherwise or the context indicates
                otherwise (words in the singular also indicate the plural and vice versa):
            </p>

            <table>
                <tbody>
                    <tr>
                        <td>
                            <b>
                                DD:
                            </b>
                        </td>
                        <td>
                            the user of these Terms and Conditions, being IDEA Valorization
                            BV (Dutch Dolphin Swimming Club), registered in the trade
                            register of the Chambers of Commerce under number:
                            63346869;

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Service:
                            </b>
                        </td>
                        <td>
                            a service provided by DD to the Client;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                User:
                            </b>
                        </td>
                        <td>
                            a natural person who uses a Service, Product, Website or
                            platform of DD;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Client:
                            </b>
                        </td>
                        <td>
                            a counterparty, customer and/or supplier of DD and the legal
                            entities forming part of its group;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Delivery:
                            </b>
                        </td>
                        <td>
                            delivery as referred to in Book 3, articles 84 and 90 Book 3,
                            article of the Dutch Civil Code, on the understanding that the
                            required physical provision with regard to Products takes place
                            as soon as the Products leave the site of DD or EXW Lierop, the
                            Netherlands as referred to in the Incoterms 2010;

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Quotation:
                            </b>
                        </td>
                        <td>
                            an offer from DD, including, but not limited to, quotations, price
                            lists and other statements, whether or not from representatives,
                            commercial agents and/or employees of DD, as well as relevant
                            information contained in mailings from DD or mentioned on the
                            Website;

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Agreement:
                            </b>
                        </td>
                        <td>
                            the agreements between DD and the Client;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Product:
                            </b>
                        </td>
                        <td>
                            a good delivered or yet to be delivered by DD to the Client,
                            including in any case, however, not exclusively the applied
                            labels and packaging materials;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                In Writing:
                            </b>
                        </td>
                        <td>
                            by letter or electronically (such as by email), by fax or by any
                            other means of telecommunication that is capable of transferring
                            written text legibly and reproducibly;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Confidential
                                Information:
                            </b>
                        </td>
                        <td>
                            the Quotation, the Agreement, the Products, the Services, all
                            correspondence, information, knowledge and/or documentation
                            that relates to DD, is supplied by DD and/or is otherwise in the
                            possession of or has come to the knowledge of the Client in the
                            context of the preparation, formation and/or execution of the
                            Agreement;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Conditions:
                            </b>
                        </td>
                        <td>
                            these Terms and Conditions (B2B)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Website:
                            </b>
                        </td>
                        <td>
                            <a href="www.dutchdolphinswimmingclub.com">www.dutchdolphinswimmingclub.com</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <p style="text-align: left; margin-top: 20px;">
                <b>Article 2. General </b>
            </p>
            <p style="text-align: left;">
                1. These Conditions apply to all current and future offers and quotations from
                DD and to all Agreements concluded or actions performed by DD. If and to
                the extent that the Client or a User qualifies as a Consumer, these Conditions
                do not apply, but the general terms and conditions B2C of DD will apply
                instead.
            </p>
            <p style="text-align: left;">
                2. These Conditions also apply to any additional assignments and follow-up
                assignments issued to DD.
            </p>
            <p style="text-align: left;">
                3. The applicability of other terms and conditions, whether or not used by the
                Client, including purchasing conditions, is expressly rejected. If and insofar as
                other terms and conditions are (also) applicable, then these Conditions will
                prevail in the event of inconsistencies.
            </p>
            <p style="text-align: left;">
                4. The effect of Book 7, article 407 paragraph 2 of the Dutch Civil Code is
                excluded.
            </p>
            <p style="text-align: left;">
                5. If part of these Conditions is null or voidable, this does not affect the validity
                of the remaining part of these Conditions. Instead of the voided part, the
                stipulated in Book 3, article 42 of the Dutch Civil Code will apply as agreed,
                which parties would have agreed if they had known the nullity or voidability.
                The same applies if and insofar as it would appear that certain non-Dutch
                laws and/or regulations apply to or influence the effect of these Conditions
                and this is detrimental to DD.
            </p>
            <p style="text-align: left;">
                6. Any deviations from these Conditions, applied or tolerated by DD at any time
                in favor of the Client, never entitle the latter to invoke them at a later stage, or
                to claim the application of such a deviation,
            </p>
            <p style="text-align: left;">
                7. In the event of incompatibilities, inconsistencies or differences between
                language versions of these Conditions, the original Dutch version will prevail.
                In the event of incompatibilities, inconsistencies or differences between these
                Conditions and a Quotation and/or Agreement, the Quotation or Agreement
                will prevail.
            </p>
            <p style="text-align: left;">
                8. The administration and specified statements of DD are, unless proven
                otherwise, binding on the Client. The administrative data of DD are decisive
                for determining the extent of the Client's payment obligations, unless the
                Client can provide proof to the contrary. The numbers, sizes and weights
                stated on the invoice are correct, unless the Client can provide proof to the
                contrary.
            </p>
            <p style="text-align: left;">
                9. The Client's claims against DD are not transferable, pledgeable or otherwise
                susceptible to encumberment or transfer, under any title. These restrictions
                apply to both property law and contract law.
            </p>
            <p style="text-align: left;">
                10.Insofar as the Agreement relates to the delivery of Products consisting of
                (standard) software, the operation of Title1 of Book 7 of the Dutch Civil Code
                is excluded.
            </p>
            <p style="text-align: left;">
                11.DD is authorized to transfer, assign or encumber its rights under a Quotation
                or Agreement or its legal relationship on the basis thereof. The Client is
                deemed to have given permission for this at present and undertakes to
                always provide DD with all cooperation, assistance, information, documents
                and data required.
            </p>
        </div>
    </div>
</div>